{% extends 'PizzaCatalogBundle::base.html.twig' %}

{% block title %}
    <title>Pizza App</title>
{% endblock %}

{% block body %}
    <h1 class="primary-text">Pizza App</h1>
    {% block sidebar %}
        <div id="sidebar">
            <ul>
                <li><a href="/pizzas">Pizza's</a></li>
                <li><a href="/ingredients">Ingredients</a></li>
            </ul>
        </div>
    {% endblock %}

{% endblock %}
